package base

// Head is a component that renders the head of the document
templ Head() {
	<head>
		@tailwind()
		@shoelace()
		@dexie()
		@helia()
		@htmx()
		@defaultMetaTags()
		@defaultStyles()
		{ children... }
	</head>
}
