package base

templ Separator(text string) {
	<div class="relative py-6">
		<div class="absolute inset-0 flex items-center"><span class="w-full border-t"></span></div>
		<div class="relative flex justify-center text-xs uppercase">
			<span class="px-2 text-neutral-500">{ text }</span>
		</div>
	</div>
}
